.projects-container{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.projects-card{
  display: flex;
justify-content: center;
align-items: center;
padding: 2vw;
text-align: center;
color:white;
margin-right: 2vw;
border-radius: 1vw;
  background: rgba(8, 8, 8, 0.288);
  box-shadow: rgba(94, 1, 1, 0.16) 0px 1px 4px ;
}
.con-container img{
  width:15vw;
  height:30vw;
}
@media (max-width:650px){
  .projects-container{
    flex-wrap: wrap;
    height: 80vh;
  } 
}