.skills-tag-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}
.list-container{
    display: flex;

    justify-content: center;
    align-items: center;
    width: 50%;
   

}
.skills-li {
    list-style: none;
    display: flex;
   

}

.skills-li li img {
width:50%
}
