/* .main-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.icon-main {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.icon-main a {
  color: white;
}
.description-main {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  padding: 0 50px;
  justify-content: center;
  color: white;
}
.description-main p.name {
  font-size: 2vw;
  font-family: "Audiowide", cursive;
  margin: 0;
}
.description-main p.title {
  font-size: 1.7vw;
  font-family: "Montserrat", sans-serif;
}

.description-main p.my-desc {
  font-size: 1.3vw;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5vw;
  text-align: center;
  letter-spacing: 1.2;
  display: -webkit-box !important;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
  width: 40vw;
}
.cv-container {
  color: white;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
}
.cv-container:hover {
  font-weight: bold;
}
.skil-container {
  margin-top: 70px;
}

ul.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
ul.skills-list li {
  list-style: none;
}
ul.skills-list li img {
  width: 4.2vw;
}
.image-main {
  width: 40%;
  background-image: url("../images/portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;

  background-position: center top;
  margin: 20px;
} */

/* @media (max-width: 650px) {
  .main-page {
    display: flex;
    height: 100vh;
    flex-direction: column;
  }
  .image-main {
    height: 70vh;
    width: 30vw;
    position: absolute;
    right: 25%;
    top: 20%;
  }
  .description-main {
    width: 80%;
  }
  .description-main p.name {
    font-size: 20px;
    font-family: "Audiowide", cursive;
    margin: 0;
  }
  .description-main p.title {
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
  }

  .description-main p.my-desc {
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 1.2;
    display: -webkit-box !important;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    white-space: normal;
    width: 300px;
  }
  ul.skills-list li img {
    width: 20px;
  }
  ul.skills-list {
    margin-right: 50px;
  }
} */

.main-container {
  display: flex;
  height: 70vh;

  direction: rtl;
  flex-direction: row;
}
.image-main {
  width: 30%;
  background-image: url("../images/portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
}
.content-main {
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.content-main .description-main {
  margin: 20px;
  width: 50%;
}
.content-main .description-main p.name {
  font-size: 2.5vw;

  text-align: end;
  width: 100%;
}
.content-main .description-main p.title {
  font-size: 1.4vw;

  text-align: end;
  width: 100%;
}
.content-main .description-main p.my-desc {
  font-size: 1vw;
  width: 100%;
  line-height: 1.2;

  letter-spacing: 1.2;
  display: -webkit-box !important;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: end;
}

.skill-container {
  display: flex;
  flex-direction: row;
}
.skill-container img {
  width: 20px;
  margin: 20px;
}
@media (max-width: 650px) {
  .main-container {
    display: flex;
    height: 70vh;
    flex-direction: column;
  }
  .image-main {
    height: 20%;
    justify-content: center;
    width: 100%;
  }
  .content-main {
    width: 100%;
    height: 70%;

  }
  .content-main .description-main {
    margin:5px;
    width: 50%;
  }
  .content-main .description-main p.name {
    font-size: 4vw;

    width: 100%;
  }
  .content-main .description-main p.title {
    font-size: 3vw;
  

  }
  .content-main .description-main p.my-desc {
    font-size: 2vw;
    
  }
  .skill-container img {
    width: 20px;
    margin: 5px;
  }
}
