
.main-container {
  display: flex;
  height: 70vh;

justify-content: center;
  direction: rtl;
  flex-direction: row;
}

.image-main {
  width: 20%;
  background-image: url("../images/portfolio.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;

}
.content-main {
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.content-main .description-main {
  margin: 20px;
  width: 70%;

}
.content-main .description-main p.name {
  font-size: 30px;
  width: 100%;
  text-align: end;

}
.content-main .description-main p.title {
  font-size: 20px;

  text-align: end;
  width: 100%;
}
.content-main .description-main p.my-desc {
  font-size: 14px;
  width: 100%;
  line-height: 1.2;

  letter-spacing: 1.2;
  display: -webkit-box !important;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  white-space: normal;
  text-align: end;
}
.download-btn{
padding: 10px 20px;
border-radius: 20px;
  background-color: black;
margin: 0 auto;
}

.skill-container {
  display: flex;
  flex-direction: row;
}
.skill-container img {
  width: 20px;
  margin: 20px;
}
@media (max-width: 480px) {
  .main-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    
    padding-top: 20px;
  }
  .image-main {
    height: 30%;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
  }
  .content-main {
    width: 100%;
    height: 70%;
    justify-content: space-evenly;

    align-items: center;
  }
  .content-main .description-main {
    margin:5px;
    width: 50%;
  }
  .content-main .description-main p.name {
    font-size: 20px;

    width: 100%;
  }
  .content-main .description-main p.title {
    font-size: 14px;
  

  }
  .content-main .description-main p.my-desc {
    font-size: 10px;
    
  }
  .skill-container img {
    width: 20px;
    margin: 5px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    
    padding-top: 20px;
  }
  .image-main {
    height: 30%;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
  }
  .content-main {
    width: 100%;
    height: 70%;
    justify-content: space-evenly;

    align-items: center;
  }
  .content-main .description-main {
    margin:5px;
    width: 50%;
  }
  .content-main .description-main p.name {
    font-size: 4vw;

    width: 100%;
  }
  .content-main .description-main p.title {
    font-size: 3vw;
  

  }
  .content-main .description-main p.my-desc {
    font-size: 2vw;
    
  }
  .skill-container img {
    width: 20px;
    margin: 5px;
  }
}
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
    .main-container {
      display: flex;
      height: 80vh;
      flex-direction: column;
      
      padding-top: 20px;
    }
    .image-main {
      height: 30%;
      justify-content: center;
  
      width: 100%;
      margin: 0 auto;
    }
    .content-main {
      width: 100%;
      height: 70%;
      justify-content: space-evenly;
  
      align-items: center;
    }
    .content-main .description-main {
      margin:5px;
      width: 50%;
    }
    .content-main .description-main p.name {
      font-size: 30px;
  
      width: 100%;
    }
    .content-main .description-main p.title {
      font-size: 20px;
    
  
    }
    .content-main .description-main p.my-desc {
      font-size: 14px;
      
    }
    .skill-container img {
      width: 20px;
      margin: 5px;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1300px){
  .main-container {
    display: flex;
    height: 80vh;
    flex-direction: column;
    
    padding-top: 20px;
  }
  .image-main {
    height: 30%;
    justify-content: center;

    width: 100%;
    margin: 0 auto;
  }
  .content-main {
    width: 100%;
    height: 70%;
    justify-content: space-evenly;

    align-items: center;
  }
  .content-main .description-main {
    margin:5px;
    width: 50%;
  }
  .content-main .description-main p.name {
    font-size: 30px;

    width: 100%;
  }
  .content-main .description-main p.title {
    font-size: 20px;
  

  }
  .content-main .description-main p.my-desc {
    font-size: 14px;
    
  }
  .skill-container img {
    width: 20px;
    margin: 5px;
  }
}

   /* Media Query for Large screens */
   @media (min-width: 1281px) {
    .content-main .description-main p.name {
      font-size: 30px;
  
      width: 100%;
    }
    .content-main .description-main p.title {
      font-size: 20px;
    
  
    }
    .content-main .description-main p.my-desc {
      font-size: 14px;
      
    }
    .skill-container img {
      width: 40px;
      margin: 5px;
    }
}
  
