.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 1.5vw;
}
.nav-container .logo a {
  font-family: "Audiowide", cursive;
  font-size: 1.5vw;
  letter-spacing: 0.3vw;
  color: white;
  text-decoration: none;
}
nav.nav-list .nav-style {
  text-decoration: none;
  padding-right: 2vw;
  color: white;
  font-family: "Audiowide", cursive;
}
nav.nav-list .nav-style.active {
  font-weight: bold;
}

@media (max-width: 650px) {
  
  .nav-container {
   width: 100vw;
    flex-direction: column;
      padding: 20px 0;

  }
  .nav-container .logo a {

    font-size: 20px;
   
  }
  nav.nav-list .nav-style{
    font-size: 10px;
  }
}
