.details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:  'Audiowide', cursive;
}
.details-container .icons li{
    list-style: none;
    display:inline;
    margin-right: 2vw;
    width: 100vw;
}
.details-container p.project-desc {
    font-size: 1vw;
    display: -webkit-box !important;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    white-space: normal;
    width:50vw;

}
.details-container .icon-container{
    display: flex;
    margin-top: 2vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}
.details-container .icon-container img {
    width: 4vw
    

}

.img-list{
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-list img {
width: 10vw;
height: 20vh;
}

@media (max-width: 650px){
    
    .details-container p.project-desc {
        font-size: 10px;
      
    
    }
    .details-container .icon-container img {
        width:50px
        
    
    }
    .img-list{
       margin-top:10px;
    
    }
  
}